<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="error" content="{{ .error }}">
    <script type="module"> {{/* 主要關鍵 ！ React Fast Refresh 初始化 */}}
      import { injectIntoGlobalHook } from "http://localhost:5173/@react-refresh";
      injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
    </script>

    <link href="css/app.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <div id="app" data-page="{{ marshal .page }}"></div>
    
    <script type="module" src="http://localhost:5173/@vite/client"></script>{{/* 1. Vite HMR 客户端（必须） */}}
    <script type="module" src="http://localhost:5173/app.jsx"></script>{{/* 2. 你的应用入口（注意加上 type="module"） */}}
  </body>
</html>
